$blanco: #fff ;
$negro: #000000;
$font:  'Dongle', sans-serif;
$boxshadow: 8px 8px 5px -5px rgba(0, 0, 0, 0.514);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $font;
}

body {
    background-image: url("../media/fondo.png");
    background-size: cover;
    // background-position: start;
    background-repeat: no-repeat;
    background-color: #000000;
    color: $negro;
    height: 100vh;
    overflow: hidden;
    transition: 1s;
  }

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 2.5rem;
    margin-top: 10px;
    border-radius: 2rem;
    transition: 4s;
    flex-wrap: wrap;

}
.btn{
    width: 120px;
    font-size: 1.5rem;
    border: solid #000000;
    border-radius: 1rem;
    padding: 5px;
    z-index: 3;
    &:focus{
        box-shadow: none;
    }
    &:hover{
        transform: scale(1.1);
    }
}
.bi{
    font-size: 8rem;
    position: absolute;
    top: 10px;
    left: 10px;
    color: rgb(0, 0, 0);
    transition: 1.2s;
}
.doce{
    top: 300px;
    transition: 1.6s;
}
.once{
    left: 200px;
    top: 125px;
    transition: 1.4s;
}
.diez{
    left: 400px;
    top: 180px;
    transition: 1.8s;
}
.nueve{
    left: 500px;
    transition: 2s;
}
.ocho{
    left: 550px;
    top: 400px;
    transition: 2.2s;
}
.siete{
    left: 620px;
    top: 200px;
    transition: 2.4s;
}
.seis{
    top: 450px;
    left: 700px;
    transition: 2.6s;
}
.cinco{
    top: 305px;
    left: 865px;
    transition: 2.8s;
}
.cuatro{
    top: 81px;
    left: 865px;
    transition: 3.2s;
}
.tres{
    top: 450px;
    left: 1045px;
    transition: 3s;
}
.dos{
    top: 187px;
    left: 1122px;
    transition: 3.6s;

}
.uno{
    top: 430px;
    left: 1297px;
    transition: 3.4s;

}

.container-fluid{
    margin: 0;
}