$blanco: #fff ;
$negro: #000000;
$font:  'Dongle', sans-serif;
$boxshadow: 8px 8px 5px -5px rgba(0, 0, 0, 0.514);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $font;
}

@import "mobile";

@media only screen and (min-width: 1024px){
    @import "desktop";
}
